.profile_ava{
    width: 1000px;
    height: 200px;
}
.description_block{
    padding:  20px;
    display: flex;
    flex-direction: column;
    width: 400px;

}
.myAva{
    width: 100px;
    height: 100px;
    border-radius: 150%;
}
.aboutUser{

}
.photoAndSocial{
    display: flex;
    gap: 50px;
}
.logo{
    width: 50px;
}
.social{
    align-items: center;
    display: flex;
    gap: 20px;
}