.profile_ava{
    width: 1000px;
    height: 200px;
}
.description_block{
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #557A95;
}
.myAva{
    width: 100px;
    height: 100px;
    border-radius: 150%;
}