.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.item{
    color: brown;
}
.divan{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
.comentAndAva{
    display: flex;
    gap: 20px ;
}
.likesAndComent{
    display: flex;
    gap: 20px;
}
.likes{
    color: crimson;
}
.buttonLike{
    width: 30px;
    height: 30px;
    color: red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.buttonLike:hover{
    transition: .3s;
    font-size: 20px;
}
.buttonLike:active{
    font-size: 34px;
}