.content{
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 50px;
}
.dialogs{
    padding: 10px;
}
.dialogs .active{
    color: gold;
}
.messages{
    padding: 10px;
}
.formDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
}
.formDiv input{
    width: 400px;
}
.formDiv button{
    width: 150px;
    background-color: #557A95;
    border: none;
}